body {
    margin: 0px;
    background-color: slategray;
    background-image: url("assignment/record.png");
    background-repeat: repeat;
}

#header {
    background-color: darkslategrey;
    font-family:Arial, Helvetica, sans-serif;
    color: lightgrey;
    text-align: center;
    padding: 10px;
}

#main {
    background-color: lightgray;
    color: darkslategrey;
    text-align: center;
    padding: 1em;
    margin: 20px;
}
